In [34]:
import pandas as pd

In [35]:
data = {
    'Name': ['Sophia', 'Ethan', 'Ava', 'William', 'Isabella', 'James', 'Mia', 'Benjamin', 'Charlotte', 'Jacob', 'Amelia', 'Michael', 'Harper', 'Daniel', 'Emma'],
    'Surname' : ['Johnson', 'Davis', 'Blake', 'Martinez', 'Garcia', 'Wilson', 'Anderson', 'Taylor', 'Jackson', 'Clark', 'Lee', 'Baker', 'Perez', 'Hall', 'Young'],
    'GPA' : [3.5, 3.9, 4.8, 3.8, 4.0, 2.9, 3.6, 3.7, 3.1, 3.4, 3.9, 2.8, 3.6, 3.3, 3.0],
    'Exam_grade' : [85, 93, 96, 89, 96, 68, 82, 90, 75, 81, 95, 70, 84, 79, 72],
    'Attempts_to_pass' : [2, 1, 1, 1, 1, 4, 2, 1, 3, 2, 1, 3, 2, 2, 4]
}

In [36]:
my_df = pd.DataFrame(data)
my_df.shape

(15, 5)

In [37]:
my_df

         Name   Surname  GPA  Exam_grade  Attempts_to_pass
0      Sophia   Johnson  3.5          85                 2
1       Ethan     Davis  3.9          93                 1
2         Ava     Blake  4.8          96                 1
3     William  Martinez  3.8          89                 1
4    Isabella    Garcia  4.0          96                 1
5       James    Wilson  2.9          68                 4
6         Mia  Anderson  3.6          82                 2
7    Benjamin    Taylor  3.7          90                 1
8   Charlotte   Jackson  3.1          75                 3
9       Jacob     Clark  3.4          81                 2
10     Amelia       Lee  3.9          95                 1
11    Michael     Baker  2.8          70                 3
12     Harper     Perez  3.6          84                 2
13     Daniel      Hall  3.3          79                 2
14       Emma     Young  3.0          72                 4

In [38]:
my_df['Admission_to_next_course'] = ['yes' if grade >=3.0 else 'no' for grade in my_df['GPA']]

In [39]:
my_df

,Name,Surname,GPA,Exam_grade,Attempts_to_pass,Admission_to_next_course
0,Sophia,Johnson,3.5,85,2,yes
1,Ethan,Davis,3.9,93,1,yes
2,Ava,Blake,4.8,96,1,yes
3,William,Martinez,3.8,89,1,yes
4,Isabella,Garcia,4.0,96,1,yes
5,James,Wilson,2.9,68,4,no
6,Mia,Anderson,3.6,82,2,yes
7,Benjamin,Taylor,3.7,90,1,yes
8,Charlotte,Jackson,3.1,75,3,yes
9,Jacob,Clark,3.4,81,2,yes
10,Amelia,Lee,3.9,95,1,yes
11,Michael,Baker,2.8,70,3,no
12,Harper,Perez,3.6,84,2,yes
13,Daniel,Hall,3.3,79,2,yes
14,Emma,Young,3.0,72,4,yes

In [40]:
my_df['GPA'].min()

2.8

In [41]:
my_df['GPA'].max()

4.8

In [42]:
my_df['GPA'].mean()

3.553333333333333

In [43]:
my_df['GPA'].median()

3.6

In [44]:
my_df[my_df['Attempts_to_pass'] == 1]

,Name,Surname,GPA,Exam_grade,Attempts_to_pass,Admission_to_next_course
1,Ethan,Davis,3.9,93,1,yes
2,Ava,Blake,4.8,96,1,yes
3,William,Martinez,3.8,89,1,yes
4,Isabella,Garcia,4.0,96,1,yes
7,Benjamin,Taylor,3.7,90,1,yes
10,Amelia,Lee,3.9,95,1,yes

In [45]:
passed_first_time = len(my_df[my_df['Attempts_to_pass'] == 1])
passed_first_time

6

In [46]:
surname_series = my_df['Surname']
surname_series

0      Johnson
1        Davis
2        Blake
3     Martinez
4       Garcia
5       Wilson
6     Anderson
7       Taylor
8      Jackson
9        Clark
10         Lee
11       Baker
12       Perez
13        Hall
14       Young
Name: Surname, dtype: object

In [47]:
surname_series.to_csv('surname.csv', index=False)